schema=phonecode-guest-config-v1
protocol_version=1
architecture=aarch64
machine=virt
workspace=/workspace
kernel_artifact=vmlinuz
initramfs_artifact=initramfs.cpio.gz
system_artifact=system.img
system_carrier_bytes=4023808
system_carrier_sha256=3028c1fc05a52383ed0cddc535f320a285005e54ec9cd34961e94da0fc059c66
system_payload_bytes=4023732
system_payload_sha256=f55a90f69052c5bd6f92cb09a8f47065970830b194c917a006fb94028e721259
network=disabled
max_frame_payload_bytes=65536
max_command_bytes=32768
max_output_chunk_bytes=12000
max_retained_output_bytes=48000
max_command_timeout_ms=1800000
